.profile {
	/* background-color: bisque; */
	padding: 70px 30px 40px;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
}

.profile__header {
	text-align: center;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin: 0;
	padding-bottom: 70px;
}

.profile__container {
	display: flex;
	flex-direction: column;
	gap: 7px;
	padding: 0;
	margin: 0;
	/* width: 260px; */
	width: 100%;
	align-items: center;
}

.profile__item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 16px;
	border-bottom: 1px solid #000;
	/* padding: 0; */
	margin: 0;
	width: 100%;
}

.profile__item:nth-child(2) {
	border: none;
	padding-top: 7px;
}

.profile__text-info {
	color: #000;
	font-size: 11px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding: 0;
	margin: 0;
}

.profile__input {
	color: #000;
	text-align: right;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border: none;
	width: 250px;
}

.profile__link {
	color: #000;
	text-align: center;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration: none;
	margin: 363px auto 16px;
	padding: 0 auto;
	background-color: transparent;
	margin: 0;
	width: 150px;
	border: none;
}

.profile__link:hover {
	opacity: 0.7;
}


.profile__link-exite {
	color: #EE3465;
	text-align: center;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration: none;
}

.profile__link-exite:hover {
	opacity: 0.7;
}

.profile__message {
	color: #2BE080;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	/* margin: 0; */
	/* padding-top: 5px; */
	margin-top: 6px;
}
.profile__success{
	text-align: center;
	color: #000;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

/* на средний размер */
@media (min-width: 768px) {
	.profile {
		padding: 236px 0 269px;
		width: 410px;
		margin: 0 auto;
	}

	.profile__header {
		padding-bottom: 96px;
	}



	.profile__link {
		/* padding: 197px 0 16px; */
		font-size: 13px;
		margin: 197px 0 16px;
	}

	.profile__link-exite {
		font-size: 13px;
	}

	.profile__message {
		font-size: 13px;
	}
}

/* на максимальный размер */
@media (min-width: 1280px) {
	.profile {
		padding: 74px 0 70px;
		width: 410px;
		margin: 0 auto;
	}

	.profile__header {
		padding-bottom: 123px;
	}

	.profile__link {
		/* padding: 205px 0 16px; */
		margin: 205px 0 16px;
	}
}
