.navigation__container-movie {
	display: none;
	/* display: flex; */
	/* flex-direction: row;
	gap: 16px;
	align-items: center; */
}

.navigation__link-movie {
	text-decoration: none;
	color: #000;
	text-align: right;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	line-height: 18px;
}
.navigation__link-movie:hover {
	opacity: 0.7;
}

.navigation__link {
	text-decoration: none;
	color: #000;
	text-align: right;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px
}
.navigation__link:hover {
	opacity: 0.7;
}

.navigation__text {
	color: white;
}

.navigation__container {
	display: none;
}

.navigation__author {
	text-decoration: none;
	color: #000;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	background-color: #F9F9F9;
	border-radius: 20px;
	padding: 8px 20px;
}

.navigation__author:hover {
	opacity: 0.7;
}

/* на максимальный размер */
@media (min-width: 1280px) {
	.navigation__container-movie {
		display: flex;
		flex-direction: row;
		gap: 16px;
		align-items: center;
	}

	.navigation__container {
		display: block;
	}

}
